#############################################################################################
#                           smenu CONFIGURATION OPTIONS                           #
#############################################################################################

#####################################
#             DB CONFIG             #
#####################################
setr mysql_host "localhost"
setr mysql_database "fivem_server"
setr user "root"
setr password ""


# WARNING, if you set "use_permissions" to false, a 'default' permissions system will be used.
# this makes sure that EVERYONE on the server can do EVERYTHING, besides, banning, unbanning, 
# kicking and killing using the Online Players menu.
setr smenu_use_permissions true

# Key Mapping Stuff.
setr smenu_menu_toggle_key "288" # F1 https://docs.fivem.net/docs/game-references/controls/

setr smenu_start_scene "F5" # https://docs.fivem.net/docs/game-references/input-mapper-parameter-ids/keyboard/
setr smenu_stop_scene "F6" # https://docs.fivem.net/docs/game-references/input-mapper-parameter-ids/keyboard/
setr smenu_reset_scene "F7" # https://docs.fivem.net/docs/game-references/input-mapper-parameter-ids/keyboard/

#####################################
#       PLAYERS / GROUPS SETUP      #
#####################################

# Add players to any group you want, can be group.admin, group.moderator or any other group.<name> you want.

# Admin group players:
add_principal identifier.steam:110000105959047 group.admin
add_principal identifier.license:4510587c13e0b645eb8d24bc104601792277ab98 group.admin

# Moderator group players:
add_principal identifier.steam:110000105959047 group.moderator
add_principal identifier.license:4510587c13e0b645eb8d24bc104601792277ab98 group.moderator


#############################################
#        SETTING UP GROUP INHERITANCE       #
#############################################
## Setup group inheritance, it's probably best you don't touch this unless you know what you're doing.
add_principal group.admin group.moderator

#########################################
#           PERMISSIONS SETUP           #
#########################################

####################################
#       GLOBAL PERMISSIONS         #
####################################
#add_ace builtin.everyone "smenu.Everything" allow # (Don't touch this, unless you're stupid or you know what you're doing :^) !)

add_ace group.admin "smenu.OpenMenu" allow
add_ace group.admin "smenu.Entity.Add" allow
add_ace group.admin "smenu.Entity.Edit" allow
add_ace group.admin "smenu.Entity.Update" allow
add_ace group.admin "smenu.Entity.Delete" allow
add_ace group.admin "smenu.Scene.Start" allow
add_ace group.admin "smenu.Scene.Select" allow
add_ace group.admin "smenu.Scene.Stop" allow
add_ace group.admin "smenu.Scene.Restart" allow
add_ace group.admin "smenu.Scene.Delete" allow
add_ace group.admin "smenu.Scene.Close" allow